/* Override Styles for MATLAB Mobile */

/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Additive CSS:.............Additive/override CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

*/




/*-----------------------------------
   Bootstrap Overrides
-------------------------------------*/



/*-----------------------------------
   Page Globals
-------------------------------------*/



/*-----------------------------------
   Site Elements
-------------------------------------*/



/*-----------------------------------
   Structure
-------------------------------------*/



/*-----------------------------------
   Page Specific
-------------------------------------*/
/* ---- F1 Help ---- */
#responsive_offcanvas { padding:20px; background: #fff; }
#responsive_offcanvas #doc_header_spacer { display: none !important; }

#responsive_offcanvas #header_desktop { display: none !important; }
#responsive_offcanvas #header_mobile { display: none !important; }
#responsive_offcanvas .sticky_header_container { display: none; }
#responsive_offcanvas .row-offcanvas-left { margin-left: 0 !important; left: 0 !important; }

#responsive_offcanvas .content_container { width: 100% !important; padding-top: 20px !important; border-bottom: none !important; }
#responsive_offcanvas .feedbackblock { display: none; }
#responsive_offcanvas .sidebar-offcanvas { display: none; }
#responsive_offcanvas .cta_container_mobile { display: none !important; }
#responsive_offcanvas .body_trail_container { display: none; }
#responsive_offcanvas #footer { display: none; }

 /* CRUX 2.0 */
 #responsive_offcanvas .offcanvas_content_container { padding-right:0 !important; margin-left:0 !important; }
 #responsive_offcanvas .section_header { display:none !important; }
 #responsive_offcanvas .offcanvas_content_container { padding:0 !important; margin:0 !important; border-left:none !important; }
 #responsive_offcanvas #content_container { height:auto !important; min-height:auto !important; width:100% !important; padding-bottom:0 !important; border-bottom:none !important; }

 /* MATLAB Mobile Specific */
.examples_short_list.hidden_ios_android { display:block !important; }

.metadata_container { border:none; box-shadow:none !important; }
.metadata_container p.text-center { display:none; }
.metadata_container p.add_margin_0 { display:none; }
.metadata_container p.add_margin_5 { display:none; }
.metadata_container ul.example_product_list { display:none; } 

.procedure + h2 { display:none; }
.procedure + h2 + ul { display:none; }