/* Overrides for Doc Center in the Product */

/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

*/



/*-----------------------------------
   Page Globals
-------------------------------------*/



/*-----------------------------------
   Site Elements
-------------------------------------*/

/* ---- Product and Web Specific Links ---- */

	/* Product and Web Specific Links: Hide/Show - Responsive-ification Needed: visible_product hidden_web; */
	.execmatlabproduct { display:inline; }
	.execmatlabweb { display:none; }

	.coming_from_product { display:inline; }
	div.coming_from_product { display:block; }
	
	.not_coming_from_product { display:none; }
	div.not_coming_from_product { display:none; }	

    /* CRUX Nav */
    .crux_browse li > a.coming_from_product { display: block !important; }
    .crux_browse li > a.not_coming_from_product { display: none !important; }


/*-----------------------------------
   Structure
-------------------------------------*/

/* ---- Header ---- */
#header_mobile,
#header_desktop { display: none !important; }

	/* Product Documentation (Web) does not use #header_mobile or #header_desktop, so the sticky_header_container affixes immediately. This spacer prevents that. */
	#doc_header_spacer { display: none; }

/* ---- Section Header ---- */
.section_header .btn_search_adjacent.dropdown-toggle { display: none; }


/* ---- Horizontal Nav ---- */
.horizontal_nav_container .cta_box { display: none; }


/* ---- Body Trail ---- */
.body_trail_container .panel { display: none; }


/* ---- Mobile CTA Container ---- */
.cta_container_mobile { display: none !important; }


/* ---- Footer ---- */
.fat_footer_container { display: block; }
.fat_footer_container .footernav > li:first-child> a { padding-left: 0; }

.footer { display: none; }



/*-----------------------------------
   Page Specific
-------------------------------------*/

/* ---- Category Pages ---- */
li.doc_category_nav_item_other_releases { display:none; }


/* ---- Release Notes ---- */

	/* Release Note: Anchors */
	#product_release_notes .anchored { padding-left:10px !important; }


/* ---- Search : g2606295 ---- */
.thumbnail_container[style*="background-image:url(matlab/ref/plottype"] { background-size:auto !important; }



