/* Overrides for Japanese Web Doc Center */
/* Global */
html body,
h1, h2, h3, h4, h5, h6,
.search_refine h3 { font-family: Meiryo, Verdana, Arial, Helvetica,"MS P ゴシック"; }

#doc_center_content h1,
#doc_center_content h2,
#doc_center_content h3,
#doc_center_content h4,
#doc_center_content h5,
#doc_center_content h6,
#doc_center_content h2.title[class*="r20"] { font-family: Meiryo, Verdana, Arial, Helvetica,"MS P ゴシック"; }

/* g3050356 & g3592954 */
.refname { font-family: Verdana, Arial, Helvetica,"MS P ゴシック" !important; }

/* Disambiguation List Overflow */
.sidebar-offcanvas .nav_disambiguation_overflow_control:before { content: "展開する..."; }
.sidebar-offcanvas .collapse.in + .nav_disambiguation_overflow_control:before { content: "折りたたむ..."; }

/* Expand - Collapse: Reveal */
.reveal .more_results p:after { content:"展開する"; }
.reveal .expanded .more_results p:after { content:"折りたたむ"; }

/* Expand All in Page */
.doc_topic_desc { padding-right:170px; }
.doc_topic_desc .switch { width:160px; margin-right:-170px; }

/* Release Notes */
.sidebar-offcanvas .release_notes_search .row > .col-6:first-child:after { content:"-" !important; }