/* Override Styles for MATLAB Online */

/*
-----------------------------------
TOC
-----------------------------------

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Additive CSS:.............Additive/override CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

*/




/*-----------------------------------
   Bootstrap Overrides
-------------------------------------*/



/*-----------------------------------
   Page Globals
-------------------------------------*/
/* ---- Footer ---- */
#footer .fat_footer_container { display:none; }

.footer { min-height:0; display:block; }
.footer #countrynav { display:none; }
.footer .social_media { display:none; }
.footer .copyright { margin-bottom:0; }

  @media (min-width:768px) and (max-width:991px) {
    .footer .clearfix.visible-sm.add_margin_10 { display:none !important; }  
  }

  @media (max-width:767px) {
  .footer { padding-bottom:18px; }
  }



/*-----------------------------------
   Site Elements
-------------------------------------*/
.offcanvas_horizontal_nav .cta_box { display:none !important; }

	/* Tablet & Mobile */
	.cta_container_mobile,
	.cta_container_mobile .cta_box { display:none !important; }


/*-----------------------------------
   Structure
-------------------------------------*/
/* ---- CRUX Nav ---- */
#crux_nav_videos a,
#crux_nav_answers a { display:inline-block !important; }


/*-----------------------------------
   Page Specific
-------------------------------------*/
