/*BS5 - UserNav*/
@media (min-width:992px) {
  body.-has_usernav {    
    .sidebar-offcanvas { box-shadow:inset 0 1px 0 0 var(--mw-ws-global-border-color); }
    &.locked .sidebar-offcanvas { box-shadow:inset 0 1px 0 0 #fafafa; }        
    
    #localnav .navbar-nav { margin:0 0 0 -5px !important; display:inline-block; font-size:0; white-space:nowrap; }
    #localnav .navbar-nav > li { padding:0 !important; margin-bottom:0; display:inline-block; font-size:13px; line-height:1.00; float:none; }
    #localnav .navbar-nav > .nav-item + .nav-item { padding-left:1px !important; border-left:none !important; }
    #localnav .navbar-nav > li > a { padding:10px 10px 8px !important; border-radius:4px; display:inline-block; line-height:1.00; text-align:center; }

    #localnav .navbar-nav > li > a,
    #localnav .navbar-nav > li > a:visited { color:var(--mw-ws-global-link-color);  }    
    #localnav .navbar-nav > li > a:hover { background:var(--mw-ws-additive-color-transparent); color:var(--mw-color-brand03) !important; text-decoration:none !important; }
    #localnav .navbar-nav > li > a:focus { outline-offset:-2px; }

    #localnav .navbar-nav > li > a.active { background:#e6f2fa !important; color:var(--mw-ws-global-color) !important; }
    #localnav .navbar-nav > li > a.active:hover { background:#e6f2fa !important; color:var(--mw-ws-global-color) !important; }    
    
    #localnav .navbar-nav > li > a >.result_count { font-size:11px; }

    #localnav > li#crux_nav_documentation.active { padding:10px 10px 8px; border-radius:var(--mw-ws-global-border-radius); background:#e6f2fa; color:var(--mw-ws-global-color); line-height:1.00; text-align:center; }
    #localnav > li#crux_nav_documentation.active > a { padding:0; background:var(--mw-ws-additive-color-transparent); }
  }
}

@media (max-width:991.98px) {
  body.-has_usernav {   
    #localnav .navbar-nav { width:100% !important; }
    #localnav .navbar-nav > li { padding-left:0 !important; font-size:13px; }
    #localnav .navbar-nav > li > a.active { background:#e6f2fa; color:var(--mw-ws-global-color) !important; }
  }
}