/*
-----------------------------------
TOC
-----------------------------------

Windows Phone 8 Fix:......CSS to fix rendering in WP8

Fonts:....................Available font-family declarations

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Template Globals:.........Styles for specific responsive templates

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

Lightbox..................3rd Party Lightbox CSS

Downsize..................Reduce font size for sections
*/



/* ------------------------------------
$ Structure
------------------------------------ */

/* ---- Content ---- */

	/* Fix for Locked Header w/o Content Container Padding */
	.sticky_header_container.affix ~ .row-offcanvas .content_container { padding-top: 0; }



/* ------------------------------------
$ To Be Code Reviewed
------------------------------------ */
/* 
 All CSS changes/addtions/edits MUST be code reviewed before they can accepted as part of the site6 standards.

 Please add any working code below, and be sure to add you initials in the comments for your section.

 Once your work is complete, coordinate a code review with Ryan Johnson.  Code reviews should be scheduled before the end of Feature Freeze.
*/






