/* Overrides for Spanish Web Doc Center */

/*-----------------------------------
   Structure
-------------------------------------*/

/* ---- Offcanvas ---- */
.offcanvas_actuator .offcanvas_actuator_label:before { content:"Contenido"; text-transform:uppercase; }

  /* Tabs */
  .sidebar-offcanvas .borderless_tab_controls > li:first-child { display:block; }